<%# /支払額の表示 %>
<%= form_with model: @orders, url: item_orders_path, id: 'charge-form', class: 'card-form', local: true do |f| %>
  <%# カード情報の入力 %>
  <div class='credit-card-form'>
    <h1 class='info-input-headline'>
      クレジットカード情報入力
    </h1>
<% #省略 %>